@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', sans-serif;
}


body{
    background-color: #cdd9e5;
    background-image: url('./assets/bg.png');
    background-position: right top;
}
.containerPai{
    background-color: #90a6be;
    border: 0px solid transparent;
    padding: 0;
}
.js .anime {
	opacity: 0;
	transform: translate3D(-50px, 0px, 0px);
}

.js .anime-init {
	opacity: 1;
	transform: translate3D(0px, 0px, 0px);
	transition: .7s all ease;
}

.containerWhats{
    position: fixed;
    right: 80px;
    bottom: 10vh;
}

.containerWhats img{
    cursor: pointer;
    width: 60px;
}

@media (max-width:700px){
    .containerHome{
        display: block;
        height: 150vh;
    }
    .containerHome .left{
        height: 30%;
        width: 100%;
    }
    .containerHome .rigth{
        height: 70%;
        width: 100%;
        padding-top: 80px;
    }
    .containerProduto{
        padding-bottom: 50px;
        height: auto;
    }
    .containerProduto .produtos{
        display: block;
        width: 100%;
        height: auto;
        margin-top: 50px;
    }
    .containerProduto .produtos section{
        margin-top: 50px;
    }
    .containerOrcamento{
        padding-left: 10px;
        padding-right: 10px;
    }
    .calcular{
        display: block;
        text-align: justify;
        width: 300px;
    }
    .calcular .left button{
        margin-bottom: 50px;
        margin-left: 25vw
    }
    #pia label{
        width: 300px;
        padding-left: 20px;
    }
    #pia input{
        width: 300px;
        margin-left: 20px;
    }
    #soleira label{
        width: 300px;
        padding-left: 20px;
    }
    #soleira input{
        width: 300px;
        margin-left: 20px;
    }
    #soleira select{
        margin-left: 20px;
    }
    #pia select{
        margin-left: 20px;
    }

    .calcular .rigth .valor{
        margin-left: 50vw;
    }
    .calcular .rigth .valor h2{
        width: 250px;
    }
    .containerContato{
        padding-left: 10px;
        padding-right: 10px;
        height: auto;
        padding-bottom: 50px;
    }
    .table{
        display: block;
        width: 100%;
    }
    .table .form{
        border: none;
        width: 100%;
    }
    .table .form label{
        padding-left: 10%;
    }
    .table .form input{
        margin-left: 10%;
    }
    .table .form textarea{
        margin-left: 10%;
    }
    .table .form button{
        margin-left: 35%;
        margin-bottom: 50px;
    }
    .end{
        margin-left: 0;
        padding-left: 0;
    }
    .end h3{
        margin-left: 20px;
    }
    .end p{
        margin-left: 20px;
    }
    .end iframe{
        width: 100%;
    }
    .containerProjetos{
        height: auto;
        padding-bottom: 40px;
    }
}